

<%= simple_form_for translation do |m| %>
  <%= m.input :language, label: "What language are you adding?" %>
    <%= m.simple_fields_for :lines, m.object.lines.order(:created_at) do |p| %>
      <div class="row">
      </div>
      <% if p.object.title == "dropdown"  %>
        <%= p.input :content, label: "pick a primary color for the video", collection: [['0', 'Bayer Green'], ['1', 'Bayer Blue'], ['2', 'Bayer Purpple']], label_method: :second, value_method: :first %>
      <% elsif p.object.title == "scene"  %>
        <%= p.input :content, label: "pick the amount of scenes", collection: [['0', '1'], ['1', '2'], ['2', '3']], label_method: :second, value_method: :first %>
      <% else %>
        <%= p.input :content, label: false %>
      <% end %>
    <% end %>
        <input class="float-left" type="submit" name="commit" value="Update Translation" data-disable-with="Update Translation">









<% end %>
