<!-- IF ITS THE FIRST TRANSLATION AKA TRANSCRIPT -->
<% if @video.translations.length > 0 %>
    <h1>orignal transcript:</h1>


  <% @video.translations.each do |element| %>
    <p><%= "#{element.language}" %></p>
  <% end %>

    <%= link_to "all videos", videos_path %>


  <div class="container">
  </div>


<!-- END OF THE FIRST TRANSLATION AKA TRANSCRIPT -->

<% else %>
  <div class="container">
    <%= simple_form_for [@video, @translation]  do |f| %>
      <%= f.input :json, as: :text %>
      <%= f.submit "Submit .JSON", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<div class="container">
  <p>use double quotations when inputting json</p>
</div>
