







<div class="float-left">
  <div class="ml-5 mr-3 mt-2 shadow" style="width: 16rem;">
    <div class="card-body">
      <h1 class="lead">Your picks:</h1>
      <% @picks.each do |pick| %>
      <li pick_id="<%= pick.id %>">
        <div class=""></div>
        <i class="far fa-trash-alt text-danger"></i>
        <p class="iconToggler"><%= pick.icon.name %></p>
        <%= link_to "delete", pick, class: "btn-sm btn-primary", method: :delete, remote: true  %>
      </li>
      <% end %>
    </div>
  </div>
</div>


<h2>how many scenes would you like your video to have?</h2>

<%= simple_form_for @scenes do |m| %>
    <%= m.input :content, label: "pick a primary color for the video", collection: [['0', 'Bayer Green'], ['1', 'Bayer Blue'], ['2', 'Bayer Purpple']], label_method: :second, value_method: :first %>
      <% end %>
        <input class="float-left" type="submit" name="commit" value="Update Translation" data-disable-with="Update Translation">













