


<!-- [...] -->

<div class="float-left mt-5 pr-4 pl-4 pt-4">
  <%= form_tag videos_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a video"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<div class="mt-5">





<% @tags.each do |tag| %>
  <%= form_tag videos_path, method: :get do %>
    <%= hidden_field_tag :tag, tag.tag%>
    <small><%= submit_tag tag.tag, class: "btn-sm border shadow-sm btn-primary" %></small>
  <% end %>
<% end %>



</div>

</div>

<!-- the list of movies -->


<div class="container pt-5">
<% if !params[:query].blank? %>
  <h4 class="pb-0"> <%= "Search results for: #{params[:query]}" %> </h4>
  <small class=""> <%= link_to "Click here to display all videos", videos_path %> </small>
  <% if @videos.blank? %>
    <h1 class="text-center mt-5 pt-5">No results found <i class="far fa-sad-tear"></i></h1>
  <% else %>
    <h1 class="text-center mt-5 pt-5 pb-5"><%="We found #{@videos.count} result#{@videos.count > 1 ? "s": ""} "%><i class="far fa-smile-wink"></i></h1>
  <% end %>
<% end %>

<h1 class="ml-5 mb-4"><p class="badge badge-secondary pb-2 pt-1"><%=@videos.count*123%></p><strong> videos to translate:</strong> </h1>
  <div class="row">
    <% @videos.each do |video| %>
      <div class="shadow-sm bg-light pt-2 pb-2 pl-4 m-2" style="width: 29rem;">

          <%= link_to video_path(video) do %>
            <h5 ><%="#{video.name}"%></h5>
            <% end %>
             <iframe class="border" src="<%=video.video_path%>"
              allowfullscreen="" width="420" height="235"></iframe>

        <% if !video.translations.first %>
          <%= link_to "Awaiting transcript...", video_path(video), class: "btn btn-outline-secondary btn-sm"%>
        <% elsif video.translations.count == 1%>
          <p>Be the first to add a translation</p>
        <% else %>
          <small class="badge badge-primary"><%="#{video.translations.count-1}
          translation#{video.translations.count-1 == 1 ? nil : "s"} available"%></small>
          <% video.tags.each do |tag| %>
          <small class="badge badge-secondary text-white"><%= tag.tag %></small>
          <% end %>
        <% end %>

    </div>
  <% end  %>
  </div>
</div>

<%= will_paginate @videos_sorted, class: "float-right lead btn btn-secondary text-white" %>
