
                                        <!--VIDEO-->

<div class="container">
  <div class="row">
  <div class="view_video">
    <h2><%="#{@video.name}"%></h2>
      <iframe src="<%=@video.video_path%>"width="660" height="375"></iframe>
    </div>
</div>


                          <!--PROVIDE TRANSLATION & REQUEST/SHEPARD-->
<div class="published">
 <div class="row">
<% if @video.translations.count == 0%>
  <%= link_to "Add Transcript", new_video_translation_path(@video),
    class: "btn btn-outline-secondary"%>
    <p>To make it possible for everyone translate this video,
    we need to start by uploading a base translation in the .JSON format</p>
<% else %>
  <%= link_to "provide a translation", video_translations_path(@video), method: :post,
    class: "btn btn-outline-secondary"%>

<% if @video.shephard_id != nil %>
    <div class="dropdown show">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Request video
        </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%  @published_translations.each do |translation| %>
          <!-- max 8 -->
        <%= link_to "#{translation.language}", translation_requests_path(translation), class: "dropdown-item", method: :post%>
        <% if translation == ""  %>
          <p class="dropdown-item">no translations available yet</p>
          <% end %>
    <% end %>
        <% else  %>
          <%= link_to "shephard production",
          shepard_video_path,
          class: "btn btn-outline-secondary",
          method: :post%>
      <% end %>
      </div>
<% end %>

<% if @video.shephard_id == current_user.id%>
<%= link_to "revoke support",
          revoke_video_path,
          class: "btn btn-outline-primary",
          method: :post%>
<% end %>

</div>
</div>
<!--
                                  PUBLISHED TRANSLATIONS:
 -->

<div class="container">
  <h4> Published translations: </h4>
  <% if @published_translations == [] %>
    <p>This video has no published translations</p>
  <% end %>
  <%  @published_translations && @published_translations.each do |translation| %>
  <td>
    <% if current_user.email == translation.user.email %>
    <li><%="language: #{translation.language} | You provided this translation" %></li>
    <% else %>
    <li><%="language: #{translation.language} | Translated by: #{translation.user.email}" %></li>
    <% end %>
  </td>
<% end %>
</div>
</div>
</div>
<div class="bg-info  text-white">
  <div class="container">
    <br>

<!--
                                  YOUR TRANSLATIONS:
 -->


  <h4> Your translations: </h4>
        <div class="container">
  <% if @video.translations.count > 1 %>
    <% @my_translations.each do |element| %>
      <td>
        <li><%="Language: #{element.language == nil ? "not provided" : element.language}
          | Status: #{element.done ? "published" : "unpublished"}"%></li>
      </td>
      <br>

      <div clas="container">
        <%= link_to "Delete", translation_path(element),
          class: "btn btn-secondary btn-sm",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        <%= link_to "edit", edit_translation_path(element),
          class: "btn btn-secondary btn-sm"%>
          <!-- check to see if user provided language before publishing -->
          <%unless element.language == "" %>
            <% if element.done == false %>
              <%= link_to "Publish", publish_translation_path(element), method: :patch,
                class: "btn btn-secondary btn-sm"%>
            <% else %>
              <%= link_to "Unpublish", unpublish_translation_path(element), method: :patch,
                class: "btn btn-secondary btn-sm",
                data: { confirm: "Are you sure you want to unpublish the translation?
                                  This means others users won't be able to see the translation you provided." } %>
            <% end %>
          <% else %>
            <%= link_to "Publish", edit_translation_path(element),
                class: "btn btn-secondary btn-sm",
                data: { confirm: "To pubish please provide a language to your translation." } %>
          <% end %>
          <br>
      </div>
    <% end %>
  <% end %>
  </div>


  <% if @video.translations.first %>
      <%= link_to "Edit transcript",
      edit_translation_path(@video.translations.first.id),
      data: { confirm: "Are you sure? edit transcript influeces every
        translation newly created after the edit to transcript has been made" },
      class: "text-white"%>
  <% else %>
  <p> <%= "no transcript or languages added yet" %> </p>
  <% end %>

  <%  if @video.translations.count > 0%>
  <%= link_to "| Delete transcript", translation_path(@video.translations.first.id),
          class: "text-white",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
  <br>
  <br>
  <% end %>
    </div>
  </div>

<br>
<br>



