
                                        <!--VIDEO-->
<div class="container mt-5">
<div class="d-flex flex-row bd-highlight mb-5">
    <div class="shadow ml-5 p-3  bd-highlight">
      <h2><%="#{@video.name}"%></h2>
        <iframe src="<%=@video.video_path%>"width="660" height="375"></iframe>
        <small>Included with order:</small>
        <span class="badge badge-secondary badge-outlined">Complete English Open Files</span>
        <span class="badge badge-primary rounded-0">16:9 and square</span>
        <span class="badge badge-primary">Clean English Open Files</span>
        <span class="badge badge-primary">Clean English Open Files</span>
<span class="badge badge-primary">Clean English Open Files</span>
        <span class="badge badge-primary">Clean English Open Files</span>
  </div>
  <div class="shadow ml-5 mr-5 p-2 bd-highlight">
    <h1>description:</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate enim aspernatur praesentium ullam. Est, nam explicabo! Hic amet obcaecati adipisci, minus ad voluptatem harum natus, ipsum recusandae eligendi dolorum.</p>
    <h4 class="fas fa-project-diagram"></h4>
    <p>Campaign? No</p>
    <div class="text-center">
      <h4 class="fas fa-vial"></h4>
      <small>Cardiovascular</small>
    </div>
    <h4 class="fas fa-ruler-combined"></h4>
    <i class=" fas fa-microphone-alt">text</i>
  </div>
</div>
</div>



                          <!--PROVIDE TRANSLATION & REQUEST/SHEPARD-->
<div class="shadow bg-light p-5 mb-5">
 <div class="row">
<% if @video.translations.count == 0%>
  <%= link_to "Add Transcript", new_video_translation_path(@video),
    class: "btn btn-outline-secondary"%>
    <p>To make it possible for everyone translate this video,
    we need to start by uploading a base translation in the .JSON format</p>
<% else %>
  <%= link_to "provide a translation", video_translations_path(@video), method: :post,
    class: "btn btn-outline-secondary"%>

<% if @video.shepherd_id != nil %>
    <div class="dropdown show">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Request video
        </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%  @published_translations.each do |translation| %>
          <!-- max 8 -->
        <%= link_to "#{translation.language}", translation_requests_path(translation), class: "dropdown-item", method: :post%>
        <% if translation == ""  %>
          <p class="dropdown-item">no translations available yet</p>
          <% end %>
    <% end %>
        <% else  %>
          <%= link_to "shepherd production",
          shepherd_video_path,
          class: "btn btn-outline-secondary",
          method: :post%>
      <% end %>



      </div>
<% end %>

<% if @video.shepherd_id == current_user.id%>
<%= link_to "revoke support",
          revoke_video_path,
          class: "btn btn-outline-primary",
          method: :post%>
<% end %>

</div>
</div>
<!--
                                  PUBLISHED TRANSLATIONS:
 -->

<div class="container">
  <h4> Published translations: </h4>
  <% if @published_translations == [] %>
    <p>This video has no published translations</p>
  <% end %>
  <%  @published_translations && @published_translations.each do |translation| %>
  <td>
    <% if current_user.email == translation.user.email %>
    <li><%="language: #{translation.language} | You provided this translation" %></li>
    <% else %>
    <li><%="language: #{translation.language} | Translated by: #{translation.user.email}" %></li>
    <% end %>
  </td>
<% end %>
</div>
</div>
</div>


<!--
                                  YOUR TRANSLATIONS:
 -->

<div class="container shadow bg-light p-5 mb-5 text-primary">
  <h4> Your draft translations for: <strong><%=" #{@video.name}"%></strong></h4>
  <% if @video.translations.count > 1 %>
    <% @my_translations.each do |element| %>
      <td>
        <li><%="Language: #{element.language == nil ? "not provided" : element.language}
          | Status: #{element.done ? "published" : "unpublished"}"%></li>
      </td>
      <br>

      <div clas="container">
        <%= link_to "Delete", translation_path(element),
          class: "btn btn-secondary btn-sm",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        <%= link_to "edit", edit_translation_path(element),
          class: "btn btn-secondary btn-sm"%>
          <!-- check to see if user provided language before publishing -->
          <%unless element.language == "" %>
            <% if element.done == false %>
              <%= link_to "Publish", publish_translation_path(element), method: :patch,
                class: "btn btn-secondary btn-sm"%>
            <% else %>
              <%= link_to "Unpublish", unpublish_translation_path(element), method: :patch,
                class: "btn btn-secondary btn-sm",
                data: { confirm: "Are you sure you want to unpublish the translation?
                                  This means others users won't be able to see the translation you provided." } %>
            <% end %>
          <% else %>
            <%= link_to "Publish", edit_translation_path(element),
                class: "btn btn-secondary btn-sm",
                data: { confirm: "To pubish please provide a language to your translation." } %>
          <% end %>
          <br>
      </div>
    <% end %>
  <% end %>
  </div>


  <% if @video.translations.first %>
      <%= link_to "Edit transcript",
      edit_translation_path(@video.translations.first.id),
      data: { confirm: "Are you sure? edit transcript influeces every
        translation newly created after the edit to transcript has been made" },
      class: "text-white"%>
  <% else %>
  <p> <%= "no transcript or languages added yet" %> </p>
  <% end %>

  <%  if @video.translations.count > 0%>
  <%= link_to "| Delete transcript", translation_path(@video.translations.first.id),
          class: "text-white",
          method: :delete,
          data: { confirm: "Are you sure?" } %>
  <br>
  <br>
  <% end %>
    </div>
  </div>

<br>
<br>



