<style>
  #bm {
    height: 20px;
    width: 40px;
    position: relative;
  }


</style>

<!--VIDEO-->
<div class="container">
<div class="row">

    <div class="col-lg-9 col-md-12 shadow-sm p-3  bg-light">

      <h2><%="#{@video.name}"%></h2>
      <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%=@video.video_path%>" allowfullscreen> </iframe>
</div>

          <% @video.tags.each do |tag|  %>
            <span class="badge badge-secondary badge-outlined"><%= tag.tag  %></span>
        <% end %>
        </div>


<!--DESCRIPTION-->

  <div class="col-lg-3 col-md-12  shadow-sm p-2 bg-light">
    <h1>Description:</h1>
      <% if !@video.description.blank? %>
        <p><%="#{@video.description}"%></p>
      <% else %>
        <h2 class="ml-5 far fa-meh-rolling-eyes"></h2>
          <p class="border-bottom pb-2"> No description added</p>
      <% end %>
    <div class="container row">
        <p class="pr-2"> Part of campaign? </p>
        <p><%="#{@video.campaign == true ? "Yes": "No"}"%></p>
      </div>
        <div class="col-lg-12 col-6 bg-light">
      <h5>'Globality' score:</h5>
      <% if  @video.description.blank?%>
      <small>Description missing</small>
      <span id="bm-element-no-loop" class="bm-element-no-loop" data-icon="<%=@icons.where(:name => 'hico-loading-1')[0].json%>"></span>
      <small>Without a description the video is less likely to be found</small>
      <% elsif @video.translations.blank? %>
      <small>Transcript missing</small>
      <span id="bm-element-no-loop" class="bm-element-no-loop" data-icon="<%=@icons.where(:name => 'hico-loading-2')[0].json%>"></span>
      <small>Transcripts provide the base language for others to translate.</small>
      <% elsif @video.shepherd.blank? %>
      <small>No Shepherd yet</small>
      <span id="bm-element-no-loop" class="bm-element-no-loop" data-icon="<%=@icons.where(:name => 'hico-loading-3')[0].json%>"></span>
      <small>When commiting to the role as 'Shepherd' any translation on this piece will be send to you</small>
      <% elsif @video.tags.blank? %>
      <small>Tags are missing</small>
      <span id="bm-element-no-loop" class="bm-element-no-loop" data-icon="<%=@icons.where(:name => 'hico-loading-4')[0].json%>"></span>
      <small>Without tags the video is less likely to be found</small>
      <% else %>
       <small>Content includes all elements</small>
      <span id="bm-element-no-loop" class="bm-element-no-loop" data-icon="<%=@icons.where(:name => 'hico-loading-5')[0].json%>"></span>
      <% end %>
    </div>
  </div>
</div>
</div>

<!--PROVIDE TRANSLATION & REQUEST/SHEPARD-->
<div class=" container shadow bg-light p-5 mb-5">
 <div class="row">
    <% if @video.translations.count == 0%>
      <div class="container">
      <%= link_to "Add Transcript", new_video_translation_path(@video),
      class: "btn btn-outline-secondary"%>
      <span>To make it possible for everyone translate this video,
      we need to start by uploading a base translation in the .JSON format</span>
      </div>
    <% else %>
      <%= link_to "provide a translation", video_translations_path(@video), method: :post,
      class: "btn btn-outline-secondary"%>
    <% if @video.shepherd_id != nil %>
      <div class="dropdown show d-flex">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Request video
        </a>
        <% current_user.translations.where(:done => true).each do |translation| %>
          <% if Time.now.utc - translation.updated_at < 0.514022 %>
            <div id="bm" class="bm-element" data-icon="<%=Icon.last.json%>"></div>
            <span class="pt-2">You can request your video now</span>
        <% end %>
      <% end %>






            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%  @published_translations.each do |translation| %>
          <!-- max 8 -->
        <%= link_to "#{translation.language}", translation_requests_path(translation), class: "dropdown-item", method: :post%>
        <% if translation == ""  %>
          <p class="dropdown-item">no translations available yet</p>
          <% end %>
    <% end %>
        <% else  %>
          <%= link_to "shepherd production",
          shepherd_video_path,
          class: "btn btn-outline-secondary",
          method: :post%>
      <% end %>



      </div>
<% end %>

<% if @video.shepherd_id == current_user.id%>
<%= link_to "revoke support",
          revoke_video_path,
          class: "btn btn-outline-primary",
          method: :post%>
<% end %>

</div>
</div>
<!--
                                  PUBLISHED TRANSLATIONS:
 -->

<div class="container">
  <h4 clas=> Published translations: </h4>
  <% if @published_translations == [] %>
    <h1 class="ml-5 far fa-meh-rolling-eyes"></h1>
    <p>This video has no published translations</p>
  <% end %>
  <%  @published_translations && @published_translations.each do |translation| %>
  <td>
    <% if current_user.email == translation.user.email %>
    <li><%="language: #{translation.language} | You provided this translation" %></li>
    <% else %>
    <li><%="language: #{translation.language} | Translated by: #{translation.user.email}" %></li>
    <% end %>
  </td>
<% end %>
</div>
</div>
</div>


<!--
                                  YOUR TRANSLATIONS:
 -->

<div class="container shadow bg-light p-5 mb-5 text-primary">
  <h4 id="example"> Your draft translations for: <strong><%=" #{@video.name}"%></strong></h4>
  <% if @video.translations.count > 1 %>
    <% @my_translations.each do |element| %>
      <td>
        <li><%="Language: #{element.language == nil ? "not provided" : element.language}
          | Status: #{element.done ? "published" : "unpublished"}"%></li>
      </td>
      <br>

      <div clas="container">
        <%= link_to "Delete", translation_path(element),
          class: "btn btn-secondary btn-sm",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        <%= link_to "edit", edit_translation_path(element),
          class: "btn btn-secondary btn-sm"%>
          <!-- check to see if user provided language before publishing -->
          <%unless element.language == "" %>
            <% if element.done == false %>
              <%= link_to "Publish", publish_translation_path(element), method: :patch,
                class: "btn btn-secondary btn-sm"%>
            <% else %>
              <%= link_to "Unpublish", unpublish_translation_path(element), method: :patch,
                class: "btn btn-secondary btn-sm",
                data: { confirm: "Are you sure you want to unpublish the translation?
                                  This means others users won't be able to see the translation you provided." } %>
            <% end %>
          <% else %>
            <%= link_to "Publish", edit_translation_path(element),
                class: "btn btn-secondary btn-sm",
                data: { confirm: "To pubish please provide a language to your translation." } %>
          <% end %>
          <br>
      </div>
    <% end %>
  <% end %>
  </div>


  <% if @video.translations.first %>
      <%= link_to "Edit transcript",
      edit_translation_path(@video.translations.first.id),
      data: { confirm: "Are you sure? edit transcript influeces every
        translation newly created after the edit to transcript has been made" },
      class: "text-white"%>
  <% else %>
  <p> <%= "no transcript or languages added yet" %> </p>
  <% end %>

  <%  if @video.translations.count > 0%>
  <%= link_to "| Delete transcript", translation_path(@video.translations.first.id),
          class: "text-white",
          method: :delete,
          data: { confirm: "Are you sure?" } %>

    <% end %>
  </div>
</div>



