
<div class="navbar">
  <div class="pl-5 navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "videos", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="pl-5 lead collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <li class="nav-item" id="online">⬤</li>
            <% user = current_user.email %>
            <%= link_to "#{user}", dashboard_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item active">

          </li>
          <li class="nav-item active">
            <%= link_to "Videos", videos_path, class: "nav-link" %>
          </li>
           <li class="nav-item active">
            <%= link_to "Formats", formats_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Briefings", briefings_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path(current_user.id), class: "nav-link", method: :get %>
          </li>
          <li class="nav-item active">
            <%= link_to "Sign-out", destroy_user_session_path, method: :delete,  class: "nav-link"%>
          </li>




          <li class="pt-2 nav-item">
            <%= link_to new_video_path do %>
            <i class="fas fa-cloud-upload-alt text-secondary pl-2"></i>
            <span>Add video</span>
            <% end  %>

          </li>
        <% else %>
            <li class="nav-item" id="offline">⬤</li>
            <li class="nav-link">no user active</li>

          <li>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary", id: "login-button"%>
          </li>
          <li>
            <%= link_to "< Or sign up here >", new_user_registration_path, class: "nav-link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


