<div class="p-2 mb-2 bg-primary text-white">   you got a new job</div>
<div class="container">


  <h3> your jobs:</h3>
</div>


<div class="container">

<% @translations_with_requests.each do |translation| %>
  <div class="container">
    <h4><%="#{translation.video.name}"%></h4>
      <iframe src="<%=translation.video.video_path%>"width="200" height="113"></iframe>
  </div>
  <p><%= translation.language %></p>
  </div>
  <div class="p-3 mb-2 bg-info text-white">
    <p>copy JSON:</p>
  <pre class="container text-white"><%= translation.json %></pre>
  </div>
  <% translation.requests.each do |request| %>
  <div class="container">
  <div class="row">
    <p><%= request.user.email %></p>
    <p><%= request.created_at %></p>
    <p><%= link_to "done", translation_request_path(request.translation.id, request.id),
          class: "btn btn-outline-primary btn-sm",
          method: :delete,
          data: { confirm: "Are you sure?" } %></p>
    </div>
    </div>
  <% end %>
<% end %>


