<div class="container shadow p-3">
  <h1>Your shepherded videos</h1>
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
</div>


<% if @videos != [] %>
  <% @videos.each do |video| %>
        <div class="lead row pt-2 ml-1">
      <% if Time.now.utc - video.created_at < 0.114022 %>
        <p class="lead pl-1 pr-1 shadow-sm text-secondary mr-2">ⓘ Just added: </p>
      <% end %>
          <p class="pr-2"><%= "Name: #{video.name}" %></p>
          <p>Go to Video: <strong><%= link_to "Click here", video_path(video), class: "mr-2 btn btn-primary mr-2 ml-2"%></strong></p>
          <p> add tags: <strong><%= link_to "Click here", dashboard_tag_path(params[:id] ,video), class: "btn btn-primary mr-2 ml-2"%></strong></p>
          <p><%= link_to  "Revoke support", inbox_path(video), method: :patch, class: "btn btn-success  text-white"%></p>
      </div>
  <% end %>
<% else %>
  <div class="container ml-5">
    <p>you currently don't have any requests</p>
  </div>
    <br>
<% end %>


  <h3> your jobs:</h3>
</div>


<div class="container">

<% @translations_with_requests.each do |translation| %>
  <div class="container">
    <h4><%="#{translation.video.name}"%></h4>
      <iframe src="<%=translation.video.video_path%>"width="200" height="113"></iframe>
  </div>
  <p><%= translation.language %></p>
  </div>
  <div class="p-3 mb-2 bg-info text-white">
    <p>copy JSON:</p>

    <div class="p-2 mb-2 bg-primary text-white">   you got a new job</div>
<div class="bg-light">
<div class="container">
    <div class="text-secondary form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="bn-2 bg-dark text-secondary form-control" id="myText" rows="7"><%= translation.json %></textarea>
    <div id="copy-prompt"class="lead d-none text-white text-center bg-success">
      <small>JSON coppied</small>
    <small class="fas fa-check text-white"></small>

    </div>
  </div>
    <button class="mn-2 btn-sm btn-dark text-white" id="btnCopy"><i class="far fa-clipboard"></i><small id="btn-copy" class="pl-2">Copy</small></button>
  <pre class="container text-white"><%= translation.json %></pre>
  </div>
  <% translation.requests.each do |request| %>
  <div class="container">
  <div class="row">
    <p><%= request.user.email %></p>
    <p><%= request.created_at %></p>
    <p><%= link_to "done", translation_request_path(request.translation.id, request.id),
          class: "btn btn-outline-primary btn-sm",
          method: :delete,
          data: { confirm: "Are you sure?" } %></p>
    </div>
    </div>
  <% end %>
<% end %>


<script>
     //   document.getElementById("btnCopy").addEventListener("click", function(){
     //   var copyText = document.getElementById("myText");
     //   copyText.select();
     //   document.execCommand("Copy");
     //   document.getElementById("copy-prompt").classList.remove('d-none')
     //   var paragraph = document.getElementById("btn-copy");
     //   var text = document.createTextNode(" again");

     //  paragraph.appendChild(text);
     // });
</script>

