
<style>
  #bm {
    height: 200px;
    width: 200px;
    position: relative;
  }
</style>


<div class="float-left">
  <div class="ml-5 mr-3 mt-2 shadow" style="width: 16rem;">
    <div class="card-body">
      <h1 class="lead">Your picks:</h1>
      <% @picks.each do |pick| %>
      <li pick_id="<%= pick.id %>">
        <div class=""></div>
        <i class="far fa-trash-alt text-danger"></i>
        <p class="iconToggler"><%= pick.icon.name %></p>
        <div class="d-none">
        <div id="bm" class="bm-element" data-icon="<%=pick.icon.json%>"></div>
        </div>
        <%= link_to "delete", pick, class: "btn-sm btn-primary", method: :delete, remote: true  %>
      </li>
      <% end %>
    </div>
  </div>
</div>

<div class="row pl-5 pt-2">
    <p class="lead">categories:</p>
    <p class="pl-2 lead">cardiovascular</p>
</div>
    <%=link_to "Add icon", new_icon_path, class: "btn btn-primary" %>



<br>
<br>
<br>
<br>

<div class="row ml-5 mt-5 datafetch" >
  <% @icons.where(:hidden => false).each do |icon|%>
      <div class="ml-5 mr-3 mt-2 shadow" style="width: 16rem;">
        <div class="card-body">
          <div id="bm" class="bm-element" data-icon="<%=icon.json%>"></div>
          <h5 class="card-title"><%= icon.name %></h5>
          <a href="#" class="btn-sm btn-primary">More info</a>
          <%= link_to "+", picks_path(icon), class: "btn-sm btn-primary", method: :POST %>
          <%= link_to "show", icon, class: "btn-sm btn-primary", method: :get %>
        </div>
      </div>
    <% end %>
    </div>





